{% comment %}
  Renders a testimonial block.

  Accepts:
  - customer_testimonial: {String}
  - customer_image: {Image}
  - customer_name: {String}
{% endcomment %}

{{ 'testimonial-block.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .testimonial {
    font-family: {{ settings.testimonial_font.family }}, sans-serif;
    border-radius: {{ settings.border_radius }}px;
    background-color: {{ settings.background_color }};
    border: 1px solid {{ settings.border_color }};
    box-shadow: 0 4px 10px {{ settings.shadow_color }};
  }
{%- endstyle -%}

<div class="testimonial">
  <div class="testimonial-content">
    <p class="quotation">“</p>
    {% if customer_testimonial != blank %}
      <p class="testimonial-text">{{ customer_testimonial }}</p>
    {% endif %}
  </div>

  {% if customer_image != blank %}
    <img
      src="{{ customer_image | image_url: width: 160 }}"
      alt="{{customer_name | escape }}"
      class="testimonial-image"
      width="60"
      height="60"
    >
  {% else %}
    <img
      src="{{ 'empty-testimonial-image.png' | asset_url }}"
      alt="Placeholder image"
      class="testimonial-image"
      width="60"
      height="60"
    >
  {% endif %}

  {% if customer_name != blank %}
    <p class="testimonial-name">{{ customer_name }}</p>
  {% endif %}
</div>
