<div class="testimonial text-{{ block.settings.alignment }}">
  <p class="qoutation">"</p>
  {% if block.settings.customer_testimonial != blank %}
    <p class="testimonial-quote">&ldquo;{{ block.settings.customer_testimonial }}&rdquo;</p>
  {% endif %}

  {% if block.settings.customer_name != blank %}
    <p class="testimonial-name">{{ block.settings.customer_name }}</p>
  {% endif %}

  {% if block.settings.customer_image != blank %}
    <img
      src="{{ block.settings.customer_image | image_url: width: 40 }}"
      alt="{{ block.settings.customer_name | escape }}"
      class="testimonial-image"
      width="40"
      height="40"
    >
  {% else %}
    <img
      src="{{ 'empty-testimonial-image.png' | asset_url }}"
      alt="Placeholder image"
      class="testimonial-image"
      width="40"
      height="40"
    >
  {% endif %}
</div>

{% stylesheet %}
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "text",
      "id": "customer_name",
      "label": "Customer name"
    },
    {
      "type": "inline_richtext",
      "id": "customer_testimonial",
      "label": "Customer testimonial"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Testimonial alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "image_picker",
      "id": "customer_image",
      "label": "Customer image"
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "settings": {}
    }
  ]
}
{% endschema %}
